---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Categories" }}</h2>
    <ul class="post-list">
      {%- for category in site.categories -%}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <h3>{{ category_name }}</h3>
        {%- for post in site.categories[category_name] -%}
        <li>
          <h4>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h4>
          <em><quote style="font-size:8pt">{{ post.excerpt }}</quote></em>
        </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
